@import "./base.scss";
@import "./Forms.scss";

button.nav,
a.nav {
  background-color: $b3;
  padding: 0.1rem 0.3rem;
  color: $f2;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  text-decoration: none;
  &.active {
    background-color: $b1;
    color: $e1;
    cursor: default;
  }
}

nav {
  @include flexR();
  justify-items: center;
  gap: 0.25rem;
  flex-wrap: wrap;
  padding: 0.2rem;
  border: 1px solid $b4;
  border-radius: 0.2rem;
}

#root {
  @include flexC();
  gap: 0.5rem;
  margin: auto;
  padding: 0;
  @media screen and (min-width: 600px) {
    padding: 1rem;
  }
  max-width: 80rem;
  background-color: $b1;
  color: $f1;
}

a {
  text-decoration: none;
  color: $f1;
  &:hover {
    color: $e1;
    cursor: pointer;
  }
}

* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: $b1;
}
