@import "./base.scss";

button.nav,
a.nav {
  @include button();
  text-decoration: none;
  &.active {
    background-color: $b1;
    color: $e1;
    cursor: default;
  }
}

nav {
  @include flexR();
  justify-items: center;
  gap: 0.25rem;
  flex-wrap: wrap;
  padding: 0.2rem;
  border: 1px solid $b4;
  border-radius: 0.2rem;
}

#root {
  @include flexC();
  gap: 0.5rem;
  margin: auto;
  padding: 0;
  @include desktop {
    padding: 1rem;
  }
  max-width: 80rem;
  background-color: $b1;
  color: $f1;
}

a {
  text-decoration: none;
  color: $f1;
}

p,
a,
input,
button,
select,
span,
h1,
h2,
h3,
div,
form {
  @include font();
}

body {
  background-color: $b1;
}

form {
  @include flexC();
  > label {
    width: 100%;
    @include flexR();
    align-items: center;
    gap: 0.5rem;
  }
  input {
    @include input();
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    @include input();
    border: 1px solid $e1;
    -webkit-text-fill-color: $e1;
    -webkit-box-shadow: 0 0 0px 1000px $b2 inset;
    box-shadow: 0 0 0px 1000px $b2 inset;
    transition: background-color 1s ease-in-out 0s;
  }
  select {
    background-color: $b2;
    color: $f2;
    padding: 0.2rem;
    border: 1px solid $b4;
    border-bottom-color: $b5;
    border-right-color: $b5;
    border-top-color: $b1;
    border-left-color: $b1;
  }
  button[type="submit"] {
    @include button();
    align-self: flex-end;
  }
}
