@import "./base.scss";
@import "./Forms.scss";

button.nav,
a.nav {
  @include button();
  text-decoration: none;
  &.active {
    background-color: $b1;
    color: $e1;
    cursor: default;
  }
}

nav {
  @include flexR();
  justify-items: center;
  gap: 0.25rem;
  flex-wrap: wrap;
  padding: 0.2rem;
  border: 1px solid $b4;
  border-radius: 0.2rem;
}

#root {
  @include flexC();
  gap: 0.5rem;
  margin: auto;
  padding: 0;
  @include desktop {
    padding: 1rem;
  }
  max-width: 80rem;
  background-color: $b1;
  color: $f1;
}

a {
  text-decoration: none;
  color: $f1;
  &:hover {
    color: $e1;
    cursor: pointer;
  }
}

* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: $b1;
}

form {
  @include flexC();
  gap: 1rem;
  >label {
    width: 100%;
    @include flexR();
    gap: 0.5rem;
    input {
      width: 100%;
      background-color: $b2;
      color: $f2;
      padding: 0.2rem;
      border: 1px solid $b4;
      border-bottom-color: $b5;
      border-right-color: $b5;
      border-top-color: $b1;
      border-left-color: $b1;
    }
  }
  button[type=submit] {
    @include button();
    background-color: $b5;
    width: 5rem;
    align-self: flex-end;
    &:hover {
      font-weight: bold;
    }
  }
}