$b1: #111;
$b2: #171717;
$b3: #222;
$b4: #272727;
$f1: #ddd;
$f2: #d7d7d7;
$f3: #eee;
$f4: #e7e7e7;
$e1: #7e7;
$e2: #b5e;
$e3: #e92;
$e4: #77f;

@mixin flexC {
  display: flex;
  flex-direction: column;
}
@mixin flexR {
  display: flex;
  flex-direction: row;
}

button.nav {
  background-color: $b3;
  color: $f2;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  &.active {
    background-color: $b1;
    color: $e1;
    cursor: default;
  }
}

nav {
  @include flexR();
  gap: 0.2rem;
  flex-wrap: wrap;
  border-top: 1px dashed $b3;
  padding-top: 0.2rem;
}

#root {
  @include flexC();
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid $b3;
}
