$b1: #111;
$b2: #171717;
$b3: #222;
$b4: #272727;
$b5: #333;
$f1: #c7c7c7;
$f2: #ddd;
$f3: #d7d7d7;
$f4: #eee;
$f5: #e7e7e7;
$e1: #7e7;
$e2: #b5e;
$e3: #e92;
$e4: #77f;

@mixin flexC {
  display: flex;
  flex-direction: column;
}
@mixin flexR {
  display: flex;
  flex-direction: row;
}

@mixin desktop {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin button {
  background-color: $b3;
  padding: 0.1rem 0.3rem;
  color: $f2;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  line-height: 1rem;
  &:hover {
    color: $e1;
    cursor: pointer;
  }
}

@mixin input {
  background-color: $b2;
  color: $f2;
  padding: 0.2rem;
  border: 1px solid $b4;
  border-bottom-color: $b5;
  border-right-color: $b5;
  border-top-color: $b1;
  border-left-color: $b1;
  border-radius: 0.2rem;
}

@mixin font {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
}
