@import './base.scss';

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include flexC();
  justify-content: flex-start;
  align-items: center;
  > div {
    width: 100%;
    margin-top: 5rem;
    @include flexC();
    gap: 0.5rem;
    background-color: transparentize($b3, 0.1);
    box-shadow: 5px 5px 20px black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    @include desktop {
      width: 60%;
      max-width: 40rem;
    }
  }
  .modalHeader {
    @include flexR();
    justify-content: space-between;
    border-bottom-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to left, transparent, transparent 50%, $f1 100%) 1;
    button {
      @include button();
      color: $f1;
      padding: 0 0.2rem;
      &:active {
        color: $e3;
      }
      &:hover {
        font-weight: bold;
      }
    }
  }
}