@import './base.scss';

.modalContainer {
  position: fixed;
  top: 3.2rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include flexC();
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  @include desktop {
    padding: 1rem;
  }
  > div {
    width: 100%;
    @include flexC();
    gap: 0.5rem;
    background-color: transparentize($b3, 0.1);
    box-shadow: 5px 5px 20px black;
    padding: 1rem;
    border-radius: 0.5rem;
    @include desktop {
      width: 50%;
      max-width: 40rem;
    }
  }
  .modalHeader {
    @include flexR();
    justify-content: space-between;
    border-width: 5px;
    border-style: solid;
    // border-image: linear-gradient(red, green) bottom fill / 100%;
  }
}