@import "./base.scss";

.queryResults {
  @include flexC();
  gap: 0.5rem;
}
.resultCard {
  background-color: $b2;
  padding: 0.25rem;
  @include flexC();
  justify-content: stretch;
  align-items: flex-start;
  @media screen and (min-width: 600px) {
    @include flexR();
    align-items: center;
  }
  gap: 0.25rem;
  .left {
    @include flexC();
    min-width: 50%;
    gap: 0.25rem;
    word-wrap: break-word;
  }
  .right {
    width: 100%;
    @media screen and (min-width: 600px) {
      max-width: 40%;
      min-width: 10rem;
    }
    img {
      width: 100%;
      @media screen and (min-width: 600px) {
        min-width: 10rem;
      }
    }
  }
}

.resultItem {
  padding-left: 1rem;
  &:nth-child(1) {
    padding-left: 0;
  }
  .label {
    font-weight: bolder;
    color: $e2;
  }
}
